<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Anass H. | Portfolio Génie Info{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="navbar">
        <a href="{{ url_for('index') }}" class="logo"> </a>
        <nav>
            <a href="{{ url_for('index') }}">Accueil</a>
            <a href="{{ url_for('liste_projets') }}">Projets</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </nav>
    </header>

    <main id="content">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy;  Anass HAKKI
 - Ingénieur en Génie Informatique</p>
    </footer>
</body>
</html>