{% extends "base.html" %}

{% block title %}Contact - Anass HAKKI{% endblock %}

{% block content %}
    <section class="section-contact">
        <h2>Me Contacter</h2>
        <p>Je suis disponible pour toute collaboration ou opportunité professionnelle.</p>
        
        <div class="contact-info">
            <p class="contact-detail">
                <strong>Email :</strong> 
                <a href="mailto:moanasshakki3@gmail.com">moanasshakki3@gmail.com</a>
            </p>
            
            <p class="contact-detail">
                <strong>Téléphone :</strong> 
                <a href="tel:+33614102233">+33 6 14 10 22 33</a>
            </p>
        </div>
        
    </section>
{% endblock %}s