<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Anass HAKKI | Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header class="navbar">
        
        <div class="header-icons">
            <img src="{{ url_for('static', filename='img/icons/python-brands-solid-full.svg') }}" alt="Python" class="nav-icon">
            <img src="{{ url_for('static', filename='img/icons/java-brands-solid-full.svg') }}" alt="Java" class="nav-icon">
            <img src="{{ url_for('static', filename='img/icons/node-js-brands-solid-full.svg') }}" alt="Node.js" class="nav-icon">
            <img src="{{ url_for('static', filename='img/icons/database-solid-full.svg') }}" alt="SQL" class="nav-icon">
        </div>
        
        <nav>
            <a href="{{ url_for('index') }}">Accueil</a>
            <a href="{{ url_for('liste_projets') }}">Projets</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            
            <a href="https://github.com/anasshakki" target="_blank" class="github-nav-link">GitHub Profile</a> 
        </nav>
    </header>

    <main id="content">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Anass HAKKI - Ingénieur en Génie Informatique</p>
    </footer>
</body>
</html>